<h1>Tasks list</h1>

<% @tasks.each do |task| %>
<ul>
<h3>
<% if task.completed %>
    <i class="fa-solid fa-circle-check"></i>
  <% else %>
    <i class="fa-solid fa-circle-xmark"></i>
    <% end %>
<%= link_to task.title, task_path(task) %></h3>

</ul>
<hr>
<% end %>

<a href="tasks/new"> Add new task </a>
